.btn-custom {
    border-color: $secondaryColor !important; 
    color: $secondaryColor !important;
}

.active{
    border-color: $secondaryColor !important;
    background-color: transparent !important;
    color: $thirdColor !important;
}

.btn-custom:hover {
    border-color: $thirdColor !important;
}